################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/obj/
/HelloWorld/bin/
/Variables/obj/
/Variables/bin/
/TypeConversion/bin/
/TypeConversion/obj/
/Operators/obj/
/Operators/bin/
/Classes/bin/
/Classes/obj/
/Arrays/bin/
/Arrays/obj/
/Strings/bin/
/Strings/obj/
