################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/obj/
/HelloWorld/bin/
/Variables/obj/
/Variables/bin/
/TypeConversion/bin/
/TypeConversion/obj/
/Operators/obj/
/Operators/bin/
/Classes/bin/
/Classes/obj/
/Arrays/bin/
/Arrays/obj/
/Strings/bin/
/Strings/obj/
/Enums/bin/
/Enums/obj/
/ReferenceTypesAndValueTypes/bin/
/ReferenceTypesAndValueTypes/obj/
/ReferenceTypes/bin/
/ReferenceTypes/obj/
/ConditionalStatements/bin/
/ConditionalStatements/obj/
/ForLoop/bin/
/ForLoop/obj/
/ForeachLoop/bin/
/ForeachLoop/obj/
/WhileLoop/bin/
/WhileLoop/obj/
/Random/bin/
/Random/obj/
/Lists/bin/
/Lists/obj/
/Datetime/obj/
/Datetime/bin/
/Timespan/bin/
/Timespan/obj/
/SummarizingText/bin/
/SummarizingText/obj/
/StringBuilder/bin/
/StringBuilder/obj/
/ProceduralProgramming/bin/
/ProceduralProgramming/obj/
/FileAndFileInfo/bin/
/FileAndFileInfo/obj/
